In [ ]:
import pandas as pd
import os
from collections import defaultdict
from numpy import nan

all_files = [f for f in os.listdir('../alldrugbank/')]

results_dir = '../alldrugbank'
files_to_analyze = []
file_ext = '_merged_neighborhood_.txt'
for (dir_name,sub_dir,file_list) in os.walk(results_dir):
    for file_name in file_list:
        if file_ext in file_name:
            files_to_analyze.append(file_name)

# Obtains all DrugBank ID's so we are able to get the path to the tables
drugbank_ids = []
for f in range(0, len(files_to_analyze)-1):
    identification = files_to_analyze[f].split('_')[0]
    drugbank_ids.append(identification)

path = '../alldrugbank'

drugs_to_genes = defaultdict(set)

# Create default dictionary with drugBankID to list of network genes!
for f in range(0, len(files_to_analyze)-1):
    network_genes = []
    if os.stat(os.path.join(path, drugbank_ids[f], files_to_analyze[f])).st_size == 0:
        continue
    rfile = pd.read_csv(os.path.join(path, drugbank_ids[f], files_to_analyze[f]),sep='\t', header=None)
    for i in rfile[0]:
        if pd.isnull(i):
            continue
        network_genes.append(i)
    for j in rfile[1]:
        if pd.isnull(j):
            continue
        network_genes.append(j)
    for x in network_genes:
        if pd.isnull(x):
            network_genes.remove(x)
    network_genes = set(network_genes)
    drugs_to_genes[drugbank_ids[f]] = network_genes

import pandas as pd
# Read in csv that has drugbank ID and its common names and synonyms
rfile = '../drugbank_vocabulary.csv'
drugvocab = pd.read_csv(rfile,sep=',')

df = pd.read_excel('../sweetlead_ranked.xlsx')
df = df.fillna(method='ffill')

# Mines each of the drug names and puts all their names into a list of cleaned up names
cleaned_up_names = []
for i in range(0,len(df["OfficialNames"])):
    all_countries = df["OfficialNames"][i].split(',')
    for country in all_countries:
        if ';' in country:
            equal_sign = country.find("=")
            drugnames = country[equal_sign+1:]
            x = drugnames.split(';')
            for i in x:
                cleaned_up_names.append(i)
        else:
            equal_sign = country.find("=")
            drugnames = country[equal_sign+1:]
            cleaned_up_names.append(drugnames)

for i in range(0,len(cleaned_up_names)-1):
    cleaned_up_names[i] = cleaned_up_names[i].title()

unique_names = set(cleaned_up_names)

unique_names_list = list(unique_names)
unique_names_list.sort()

drugs_to_values = defaultdict(int)
drugbank_ids_list = []

for i in range(0,len(unique_names_list)-1):
    for j in drugvocab["Common name"]:
        if unique_names_list[i] == j:
            x = drugvocab.loc[drugvocab["Common name"] == unique_names_list[i], "DrugBank ID"].values
            x = ''.join(x)
            drugbank_ids_list.append(x)

for f in range(0, len(drugbank_ids_list)-1):
    drugs_to_values[drugbank_ids_list[f]] = 1

df2 = pd.read_excel('../sweetlead_ranked.xlsx')

df2 = df2.fillna(method='ffill')

cleaned_up_names2 = []
for i in range(0,len(df2["OfficialNames"])):
    all_countries = df2["OfficialNames"][i].split(',')
    for country in all_countries:
        if ';' in country:
            equal_sign = country.find("=")
            drugnames = country[equal_sign+1:]
            x = drugnames.split(';')
            for i in x:
                cleaned_up_names2.append(i)
        else:
            equal_sign = country.find("=")
            drugnames = country[equal_sign+1:]
            cleaned_up_names2.append(drugnames)

for i in range(0,len(cleaned_up_names2)-1):
    cleaned_up_names2[i] = cleaned_up_names2[i].title()

unique_names2 = set(cleaned_up_names2)

unique_names_list2 = list(unique_names2)
unique_names_list2.sort()

drugs_to_values2 = defaultdict(int)
drugbank_ids_list2 = []

for i in range(0,len(unique_names_list2)-1):
    for j in drugvocab["Common name"]:
        if unique_names_list2[i] == j:
            x = drugvocab.loc[drugvocab["Common name"] == unique_names_list2[i], "DrugBank ID"].values
            x = ''.join(x)
            drugbank_ids_list2.append(x)

for f in range(0, len(drugbank_ids_list2)-1):
    drugs_to_values2[drugbank_ids_list2[f]] = 0

drugs_to_values.update(drugs_to_values2)

In [ ]:
drugs_to_values

defaultdict(int,
            {'DB00459': 1,
             'DB01143': 1,
             'DB01025': 1,
             'DB01125': 1,
             'DB00335': 1,
             'DB01117': 1,
             'DB00436': 1,
             'DB00562': 1,
             'DB00612': 1,
             'DB01194': 1,
             'DB00482': 1,
             'DB00369': 1,
             'DB00537': 1,
             'DB09131': 1,
             'DB00694': 1,
             'DB06782': 1,
             'DB00869': 1,
             'DB00997': 1,
             'DB00651': 1,
             'DB00467': 1,
             'DB00668': 1,
             'DB00445': 1,
             'DB00330': 1,
             'DB00898': 1,
             'DB00311': 1,
             'DB00798': 1,
             'DB00801': 1,
             'DB13322': 1,
             'DB01050': 1,
             'DB09487': 1,
             'DB00893': 1,
             'DB01064': 1,
             'DB06218': 1,
             'DB00583': 1,
             'DB00281': 1,
             'DB00978': 1,
             'DB01601': 1,
             'DB09415': 1,
             'DB00244': 1,
             'DB00333': 1,
             'DB00463': 1,
             'DB01028': 1,
             'DB00232': 1,
             'DB00422': 1,
             'DB00524': 1,
             'DB00916': 1,
             'DB00379': 1,
             'DB00461': 1,
             'DB00435': 1,
             'DB00585': 1,
             'DB01059': 1,
             'DB00816': 1,
             'DB00776': 1,
             'DB00595': 1,
             'DB00617': 1,
             'DB01121': 1,
             'DB00388': 1,
             'DB00252': 1,
             'DB00960': 1,
             'DB00592': 1,
             'DB00236': 1,
             'DB06809': 1,
             'DB01324': 1,
             'DB00175': 1,
             'DB00635': 1,
             'DB00230': 1,
             'DB00863': 1,
             'DB00867': 1,
             'DB01261': 1,
             'DB00259': 1,
             'DB09511': 1,
             'DB06204': 1,
             'DB00759': 1,
             'DB00152': 1,
             'DB00273': 1,
             'DB01021': 1,
             'DB06753': 1,
             'DB00347': 1,
             'DB00440': 1,
             'DB06825': 1,
             'DB00558': 1,
             'DB00284': 0,
             'DB00819': 0,
             'DB00511': 0,
             'DB00640': 0,
             'DB06766': 0,
             'DB00088': 0,
             'DB00523': 0,
             'DB00488': 0,
             'DB01163': 0,
             'DB01118': 0,
             'DB00321': 0,
             'DB00543': 0,
             'DB01060': 0,
             'DB00415': 0,
             'DB00714': 0,
             'DB00673': 0,
             'DB01238': 0,
             'DB06216': 0,
             'DB00289': 0,
             'DB00572': 0,
             'DB00928': 0,
             'DB01061': 0,
             'DB00355': 0,
             'DB11306': 0,
             'DB00516': 0,
             'DB00868': 0,
             'DB01053': 0,
             'DB00905': 0,
             'DB00810': 0,
             'DB00188': 0,
             'DB00297': 0,
             'DB00921': 0,
             'DB00146': 0,
             'DB01150': 0,
             'DB00438': 0,
             'DB01112': 0,
             'DB00567': 0,
             'DB00689': 0,
             'DB00341': 0,
             'DB00475': 0,
             'DB00310': 0,
             'DB00283': 0,
             'DB04815': 0,
             'DB00631': 0,
             'DB00845': 0,
             'DB00758': 0,
             'DB01147': 0,
             'DB00363': 0,
             'DB01000': 0,
             'DB01176': 0,
             'DB00979': 0,
             'DB00987': 0,
             'DB00970': 0,
             'DB01089': 0,
             'DB01189': 0,
             'DB01078': 0,
             'DB00514': 0,
             'DB01209': 0,
             'DB01119': 0,
             'DB00485': 0,
             'DB00937': 0,
             'DB01396': 0,
             'DB00390': 0,
             'DB01551': 0,
             'DB01081': 0,
             'DB00822': 0,
             'DB00561': 0,
             'DB00476': 0,
             'DB01127': 0,
             'DB09477': 0,
             'DB00530': 0,
             'DB01031': 0,
             'DB01590': 0,
             'DB00813': 0,
             'DB01148': 0,
             'DB00324': 0,
             'DB00623': 0,
             'DB00846': 0,
             'DB00690': 0,
             'DB00538': 0,
             'DB00317': 0,
             'DB01241': 0,
             'DB00889': 0,
             'DB06786': 0,
             'DB00502': 0,
             'DB00793': 0,
             'DB00739': 0,
             'DB00756': 0,
             'DB00327': 0,
             'DB00053': 0,
             'DB00458': 0,
             'DB00724': 0,
             'DB00808': 0,
             'DB01187': 0,
             'DB00753': 0,
             'DB00982': 0,
             'DB00270': 0,
             'DB00602': 0,
             'DB01221': 0,
             'DB00920': 0,
             'DB00654': 0,
             'DB00848': 0,
             'DB01002': 0,
             'DB06282': 0,
             'DB00854': 0,
             'DB00431': 0,
             'DB01255': 0,
             'DB00722': 0,
             'DB00447': 0,
             'DB00186': 0,
             'DB00179': 0,
             'DB00579': 0,
             'DB00253': 0,
             'DB00358': 0,
             'DB01365': 0,
             'DB00703': 0,
             'DB00902': 0,
             'DB00474': 0,
             'DB00959': 0,
             'DB01578': 0,
             'DB01110': 0,
             'DB00419': 0,
             'DB00305': 0,
             'DB00600': 0,
             'DB00410': 0,
             'DB01183': 0,
             'DB00704': 0,
             'DB00220': 0,
             'DB00665': 0,
             'DB00401': 0,
             'DB00507': 0,
             'DB09496': 0,
             'DB00334': 0,
             'DB00768': 0,
             'DB00842': 0,
             'DB01062': 0,
             'DB00497': 0,
             'DB01192': 0,
             'DB00219': 0,
             'DB00377': 0,
             'DB01230': 0,
             'DB00738': 0,
             'DB00652': 0,
             'DB00850': 0,
             'DB01438': 0,
             'DB00830': 0,
             'DB00925': 0,
             'DB00417': 0,
             'DB00337': 0,
             'DB01100': 0,
             'DB00319': 0,
             'DB06209': 0,
             'DB01087': 0,
             'DB00794': 0,
             'DB00433': 0,
             'DB00782': 0,
             'DB00545': 0,
             'DB01224': 0,
             'DB00881': 0,
             'DB00908': 0,
             'DB00468': 0,
             'DB14123': 0,
             'DB00481': 0,
             'DB00178': 0,
             'DB06213': 0,
             'DB00899': 0,
             'DB01180': 0,
             'DB00206': 0,
             'DB00811': 0,
             'DB05332': 0,
             'DB00296': 0,
             'DB05271': 0,
             'DB00938': 0,
             'DB06335': 0,
             'DB01037': 0,
             'DB01104': 0,
             'DB01236': 0,
             'DB09512': 0,
             'DB00877': 0,
             'DB08823': 0,
             'DB06718': 0,
             'DB01082': 0,
             'DB00708': 0,
             'DB00864': 0,
             'DB00675': 0,
             'DB00231': 0,
             'DB00857': 0,
             'DB04844': 0,
             'DB09085': 0,
             'DB00679': 0,
             'DB04572': 0,
             'DB01623': 0,
             'DB00697': 0,
             'DB00839': 0,
             'DB00755': 0,
             'DB00831': 0,
             'DB00508': 0,
             'DB00376': 0,
             'DB01108': 0,
             'DB00177': 0,
             'DB00661': 0,
             'DB00194': 0,
             'DB00162': 0,
             'DB02546': 0})

In [ ]:
all_rows = []
for (dbid, effect_size) in drugs_to_values.items():
    net_genes = drugs_to_genes[dbid]
    row_data = {'name':dbid, 'effect':effect_size}
    for g in net_genes:
        row_data[g]=1
    all_rows.append(row_data)

df = pd.DataFrame(all_rows)
df.fillna(0)

,name,effect,KRT1,rs2727786,rs62576288,CTSL,rs2854116,KRT6B,NCOR2,RARG,...,rs5182,rs5186,rs275651,rs12721226,CACNA1A,RBP2,LRAT,rs1741981,LEF1,HDAC1
0,DB00459,1,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,DB01143,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,DB01025,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,DB01125,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,DB00335,1,1.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
280,DB00177,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
281,DB00661,0,1.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
282,DB00194,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
283,DB00162,0,1.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
284,DB02546,0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0

In [ ]:
df = df.fillna(0)

In [ ]:
df.to_csv("df.csv")

In [ ]:
df = pd.read_csv("df.csv")

In [ ]:
import pickle,os,csv,math
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import mean_squared_error, r2_score, accuracy_score
from optparse import OptionParser

In [ ]:
# mapping for output
out_map = ['Increase', 'Decrease']

# save drugnames and drug banks ids but remove them for the regression
dbids = df['name'].to_list()
df = df.drop(['name'],axis=1)
df = df.drop(['Unnamed: 0',],axis=1)

y = df.loc[:,'effect']
X = df.drop(['effect'],axis=1)
gnames = list(X.columns)

split_row = math.ceil(X.shape[0]*0.2) # save 20% of rows for testing
X_test = X.loc[:split_row,:]
y_test = y.loc[:split_row,]
X_train = X.loc[split_row:,:]
y_train = y.loc[split_row:,]

model = LogisticRegression(random_state=0)
model.fit(X,y)
predicted_classes = model.predict(X)

print('Mean squared error: %.2f'% mean_squared_error(y, predicted_classes))
print('Coefficient of determination: %.2f'% r2_score(y, predicted_classes))

Mean squared error: 0.12
Coefficient of determination: 0.40

In [ ]:
reg_coef = list(zip(gnames, model.coef_[0]))
sort_rc = sorted(reg_coef,key = lambda x:x[1],reverse=True)
out_df = pd.DataFrame({'Gene Names':gnames,'Regression Coefficients':model.coef_[0]})
out_df = out_df.sort_values(by='Regression Coefficients', ascending=False)
out_df.to_excel('insilico_phagocyt_logregcoeffs.xlsx',index=False)

In [ ]:
outf = "drugScreenLogisticRegression.xlsx"
writer = pd.ExcelWriter(outf,engine='xlsxwriter')
reg_coef = list(zip(gnames, model.coef_[0]))
sort_rc = sorted(reg_coef,key = lambda x:x[1],reverse=True)
out_df = pd.DataFrame({'Gene Names':gnames,'Regression Coefficients':model.coef_[0]})
out_df = out_df.sort_values(by='Regression Coefficients', ascending=False)
out_df.to_excel(writer,sheet_name=outf,index=False)
writer.save()